# For information about configuration values that can be set in this file see:
#
#   https://docs.mopidy.com/en/latest/config/
#
# Run `sudo mopidyctl config` to see the current effective config, based on
# both defaults and this configuration file.

[file]
enabled = true
media_dirs = {{ music_dir }}
show_dotfiles = false
excluded_file_extensions =
  .directory
  .html
  .jpeg
  .jpg
  .log
  .nfo
  .pdf
  .png
  .txt
  .zip
follow_symlinks = false
metadata_timeout = 1000

[spotify]
username = becomingyolo
password = {{ lookup('env', 'SPOTIFY_PASSWORD') }}
client_id = {{ lookup('env', 'MOPIDY_SPOTIFY_CLIENT_ID') }}
client_secret = {{ lookup('env', 'MOPIDY_SPOTIFY_CLIENT_SECRET') }}
bitrate = 320

# [youtube]
# enabled = true
