{% if profile == "home" %}
  [descartes-s3-uploader]
  aws_access_key_id =
  aws_secret_access_key =

  [muumus-uploader]
  aws_access_key_id =
  aws_secret_access_key =

  [kjohnston]
  aws_access_key_id =
  aws_secret_access_key =
{% endif %}
